# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store

.github/
.vscode/
